@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Genreral Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #121212;
    color: #ffffff;
    line-height: 1.6;
}

/* Navbar */
.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #121212;
    height: 14vh;
    width: 100%;
    gap: 110px;
    padding: 15px;
}

.nav-links{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.nav-links li a, .logo a{
    text-decoration: none;
    color: #00bcd4;
    font-family: 'Poppins', sans-serif;
}

.logo{
    font-size: 2.5em;
    font-weight: 700;
}

.nav-links{
    font-weight: 600;
    font-size: 1.2em;
}
.navbar .nav-links li a:hover, .logo a:hover {
    color: #d8f8fc;
}  

/* ABOUT SECTION */
.about-section{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 250px;
    top: 150px;
}

.profile-image {
    border: 5px solid #00bcd4;
    height: 500px;
    width: 500px;
    border-radius: 100%;    
    overflow: hidden;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-content{
    width: 30vw;
    height: 20vh;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    position: relative;
    bottom: 100px;
}
.about-content p{
    color: #b0bec5;
    text-align: justify;
}
.highlight{
    color: #00bcd4;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    cursor: pointer;
    z-index: 1001; /* Ensures the hamburger stays above other elements */
}

.hamburger span {
    display: block;
    height: 4px;
    width: 100%;
    background-color: #00bcd4;
    transition: all 0.3s ease-in-out;
}

.hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translateY(10px);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translateY(-10px);
}

@media screen and (max-width: 645px) {
    .hamburger {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 14vh;
        right: 0;
        background-color: #121212;
        width: 100%;
        z-index: 1000;
        padding: 10px 0;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        text-align: center;
        padding: 10px 0;
        width: 100%;
    }
}


@media screen and (max-width: 360px) {
    .about-section {
        flex-wrap: wrap;
        gap: 20px;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 14vh;
        padding: 10px 20px;
        background-color: #121212;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 14vh;
        right: 0;
        background-color: #121212;
        width: 100%;
        z-index: 1000;
    }
    .nav-links.active {
        display: flex;
    }
    .nav-links li {
        text-align: center;
        padding: 10px 0;
        width: 100%;
    }    
    .about-content {
        width: 90%;
        text-align: center;
        margin: 20px;
        position: relative;
        top: 10px;
        font-size: 0.5em;
    }
    .profile-image {
        width: 250px;
        height: 250px;
        border-radius: 100%;
    }
    .skills-container {
        flex-direction: column;
        gap: 10px;
    }
    .skill {
        width: 80px;
        height: 80px;
    }
    .education-section, .contactpage, .social-section {
        margin: 10px;
        padding: 10px;
    }
    .description{
        margin-top: 5px;
    }
}

@media screen and (min-width: 360px) and (max-width: 414px) {
    .about-section {
        flex-wrap: wrap;
        gap: 30px;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 14vh;
        padding: 15px 30px;
        background-color: #121212;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 14vh;
        right: 0;
        background-color: #121212;
        width: 100%;
        z-index: 1000;
    }
    .nav-links.active {
        display: flex;
    }
    .nav-links li {
        text-align: center;
        padding: 10px 0;
        width: 100%;
    }
    .about-content {
        width: 85%;
        text-align: center;
        margin: 30px;
        position: relative;
        top: 10px;
        font-size: 0.8em;
    }
    .profile-image {
        width: 300px;
        height: 300px;
        border-radius: 100%;
    }
    .skills-container {
        flex-direction: column;
        gap: 12px;
    }
    .skill {
        width: 100px;
        height: 100px;
    }
    .education-section, .contactpage, .social-section {
        margin: 15px;
        padding: 15px;
    }
    .description{
        margin-top: 5px;
    }
}

@media screen and (min-width: 414px) and (max-width: 645px) {
    .about-section {
        flex-wrap: wrap;
        gap: 40px;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 14vh;
        padding: 20px 40px;
        background-color: #121212;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 14vh;
        right: 0;
        background-color: #121212;
        width: 100%;
        z-index: 1000;
    }
    .nav-links.active {
        display: flex;
    }
    .nav-links li {
        text-align: center;
        padding: 10px 0;
        width: 100%;
    }
    .about-content {
        width: 80%;
        text-align: center;
        margin: 40px;
        position: relative;
        top: 10px;
        font-size: 1em;
    }
    .profile-image {
        width: 350px;
        height: 350px;
        border-radius: 100%;
    }
    .skills-container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }
    .skill {
        width: 110px;
        height: 110px;
    }
    .education-container, .contactpage, .social-section {
        margin: 20px;
        padding: 20px;
    }
    .description{
        margin-top: 5px;
    }
}

@media screen and (min-width: 645px) and (max-width: 1300px) {
    .about-section{
        flex-wrap: wrap;
    }
    .navbar{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        background-color: #121212;
        height: 14vh;
        width: 100vw;
        gap: 50px;
    }
    .nav-links{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        font-size: 1em;
    }
    .about-content{
        width: 90vw;
        height: auto;
        margin: 30px;
        font-family: 'Poppins', sans-serif;
        position: relative;
        bottom: 0px;
        font-size: 1.5em;
    }
    .about-section{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 25px;
        position: relative;
        top: 150px;
    }
    .profile-image {
        border: 5px solid #00bcd4;
        height: 400px;
        width: 400px;
        border-radius: 100%;
        overflow: hidden;
        margin: 10px;
    }
    .description{
        margin-top: 5px;
    }
}


/* Skills Page */
.skills-container {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    padding-top: 1.2em;
}

.skillspage, .contactpage{
    position: relative;
    top: 100px;
}
.education-container, .education-section, .social-section{
    position: relative;
    top: 50px;
}

.heading{
    text-align: center;
    color: #00bcd4;
    font-weight: 700;
    font-size: 40px;
}

#skl{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #b0bec5;
    font-size: 20px;
}

.skill {
    background-color: #1c1c1c;
    border-radius: 10px;
    width: 125px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    font-family: 'poppins', sans-serif;
    color: #b0bec5;
}

.skill:nth-child(1):hover {
    animation: gradient-animation-html 6s ease infinite;
    transform: scale(1.1);
    box-shadow: 0px 4px 15px rgba(228, 77, 38, 0.5);
}

.skill:nth-child(2):hover {
    animation: gradient-animation-css 6s ease infinite;
    transform: scale(1.1);
    box-shadow: 0px 4px 15px rgba(41, 101, 241, 0.5);
}

.skill:nth-child(3):hover {
    animation: gradient-animation-c 6s ease infinite;
    transform: scale(1.1);
    box-shadow: 0px 4px 15px rgba(85, 85, 85, 0.5);
}

.skill:nth-child(4):hover {
    animation: gradient-animation-python 6s ease infinite;
    transform: scale(1.1);
    box-shadow: 0px 4px 15px rgba(55, 118, 171, 0.5);
}


@keyframes gradient-animation-html {
    0% {
        background: linear-gradient(135deg, #e44d26, #f16529);
    }
    50% {
        background: linear-gradient(135deg, #f16529, #e44d26);
    }
    100% {
        background: linear-gradient(135deg, #e44d26, #f16529);
    }
}

@keyframes gradient-animation-css {
    0% {
        background: linear-gradient(135deg, #2965f1, #33ccff);
    }
    50% {
        background: linear-gradient(135deg, #33ccff, #2965f1);
    }
    100% {
        background: linear-gradient(135deg, #2965f1, #33ccff);
    }
}

@keyframes gradient-animation-c {
    0% {
        background: linear-gradient(135deg, #555555, #0078d7);
    }
    50% {
        background: linear-gradient(135deg, #0078d7, #555555);
    }
    100% {
        background: linear-gradient(135deg, #555555, #0078d7);
    }
}

@keyframes gradient-animation-python {
    0% {
        background: linear-gradient(135deg, #3776ab, #ffd343);
    }
    50% {
        background: linear-gradient(135deg, #ffd343, #3776ab);
    }
    100% {
        background: linear-gradient(135deg, #3776ab, #ffd343);
    }
}

@media screen and (max-width: 450px) {
    .skillspage{
        position: relative;
        top: 100px;
        margin: 10px;
    }
    .skill {
        width: 80px;
        height: 80px;
    }
}

/* EDUCATION CONTAINER */
.education-section {
    text-align: center;
    padding: 40px 20px;
}

.education-section h1 {
    font-size: 40px;
    color: #00bcd4;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.education-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin: 20px auto;
}

.education-item {
    background: linear-gradient(135deg, #1c1c1c, #333);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 20px 40px;
    max-width: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #b0bec5;
}

.education-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.education-item i {
    font-size: 40px;
    color: #00bcd4;
}

.education-item h2 {
    margin: 0;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    color: #b0bec5;
}

.education-item p {
    margin: 5px 0 0;
    color: #e0e0e0;
}

.education-item p {
    margin: 5px 0 0;
    color: #e0e0e0;
}

@media screen and (max-width: 450px) {
    .education-container, .education-section{
        position: relative;
        top: 100px;
        margin: 10px;
    }
}

/* CONTACT SECTION */
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: linear-gradient(135deg, #1c1c1c, #333);
    padding: 40px;
    border-radius: 12px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

form:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7);
}

form label {
    font-size: 18px;
    color: #00bcd4;
    font-weight: bold;
    text-align: left;
}

form input, form textarea {
    padding: 15px;
    border: 2px solid #00bcd4;
    border-radius: 8px;
    font-size: 16px;
    background-color: #1c1c1c;
    color: #ffffff;
    transition: border-color 0.3s, box-shadow 0.3s;
}

form input:focus, form textarea:focus {
    border-color: #66d4e8;
    box-shadow: 0 0 5px rgba(102, 212, 232, 0.8);
    outline: none;
}

form button {
    padding: 15px;
    font-size: 18px;
    background: linear-gradient(135deg, #00bcd4, #66d4e8);
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
}

form button:hover {
    background: linear-gradient(135deg, #66d4e8, #00bcd4);
    transform: translateY(-3px);
    box-shadow: 0 4px 15px rgba(102, 212, 232, 0.5);
}

form button:active {
    transform: translateY(0);
    box-shadow: none;
}

.lbl {
    font-family: 'poppins', sans-serif;
}

@media screen and (max-width: 450px) {
    .contactpage{
        position: relative;
        top: 100px;
        margin: 10px;
    }
}

/* SOCIAL SECTION */
.social-section {
    text-align: center;
    padding: 48px 32px;
    color: #ffffff;
}

.social-section h1 {
    font-size: 40px;
    color: #00bcd4;
    margin-bottom: 16px;
    font-family: 'poppins', sans-serif;
}

.social-section p {
    font-family: 'poppins', sans-serif;
    color: #b0bec5;
    font-size: 0.8em;
    padding: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 15px;
}

.social-link {
    display: inline-block;
    padding: 20px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 40px;
    color: #ffffff;
    background: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.6s ease, box-shadow 0.6s ease;
}

.social-link.instagram:hover {
    animation: gradient-animation-instagram 6s ease infinite;
    transform: scale(1.1);
    box-shadow: 0 6px 20px rgba(245, 133, 41, 0.8);
}

.social-link.github:hover {
    animation: gradient-animation-github 6s ease infinite;
    transform: scale(1.1);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.8);
}

.social-link.linkedin:hover {
    animation: gradient-animation-linkedin 6s ease infinite;
    transform: scale(1.1);
    box-shadow: 0 6px 20px rgba(0, 119, 181, 0.8);
}

@keyframes gradient-animation-instagram {
    0% {
        background: linear-gradient(90deg, #f58529, #dd2a7b, #8134af, #515bd4);
        background-size: 400% 400%;
    }
    25% {
        background: linear-gradient(90deg, #dd2a7b, #8134af, #515bd4, #f58529);
        background-size: 400% 400%;
    }
    50% {
        background: linear-gradient(90deg, #8134af, #515bd4, #f58529, #dd2a7b);
        background-size: 400% 400%;
    }
    75% {
        background: linear-gradient(90deg, #515bd4, #f58529, #dd2a7b, #8134af);
        background-size: 400% 400%;
    }
    100% {
        background: linear-gradient(90deg, #f58529, #dd2a7b, #8134af, #515bd4);
        background-size: 400% 400%;
    }
}

@keyframes gradient-animation-github {
    0% {
        background: linear-gradient(90deg, #000000, #333333, #555555, #777777);
        background-size: 400% 400%;
    }
    25% {
        background: linear-gradient(90deg, #333333, #555555, #777777, #000000);
        background-size: 400% 400%;
    }
    50% {
        background: linear-gradient(90deg, #555555, #777777, #000000, #333333);
        background-size: 400% 400%;
    }
    75% {
        background: linear-gradient(90deg, #777777, #000000, #333333, #555555);
        background-size: 400% 400%;
    }
    100% {
        background: linear-gradient(90deg, #000000, #333333, #555555, #777777);
        background-size: 400% 400%;
    }
}

@keyframes gradient-animation-linkedin {
    0% {
        background: linear-gradient(90deg, #0077b5, #005f9e, #004e87, #0077b5);
        background-size: 400% 400%;
    }
    25% {
        background: linear-gradient(90deg, #005f9e, #004e87, #0077b5, #005f9e);
        background-size: 400% 400%;
    }
    50% {
        background: linear-gradient(90deg, #004e87, #0077b5, #005f9e, #004e87);
        background-size: 400% 400%;
    }
    75% {
        background: linear-gradient(90deg, #0077b5, #004e87, #005f9e, #0077b5);
        background-size: 400% 400%;
    }
    100% {
        background: linear-gradient(90deg, #005f9e, #0077b5, #004e87, #005f9e);
        background-size: 400% 400%;
    }
}

.social-link i {
    transition: color 0.3s ease;
}

.social-link:hover i {
    color: #ffffff;
}

@media screen and (max-width: 450px) {
    .social-section{
        position: relative;
        top: 100px;
    }
    .social-section p{
        font-size: 0.8em;
    }
}
